  
  
  input[type="email"], input[type="password"] {
    display: inline;
    width: 100%;
    padding: 10px;
    border: 2px solid green;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 13px;
    background-color: #808080;
  }
  
  
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
    a.btn btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  a.btn btn-primary:hover {
    background-color: #3e8e41;
  }
  
  
  a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
footer {
	position:sticky;
    background-color: #333;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
  }
  

.error {
	border: thin solid red;
}

.catalog{
	width: 100%;
	padding-top:100px;
    height: auto;
	background-image: url(../images/background.png);
	background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.prodotto{
	width: 100%;
	color:white;
	padding-top:150px;
	background-image: url(../images/background.png);
    height: 100vh;
	background-position: center;
    background-size: cover;
    /*display: grid;*/
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
	
}

.cartSection{
	
	width: 100%;
	color:white;
	padding-top:50px;
	background-image: url(../images/background.png);
    height: 100vh;
	background-position: center;
    background-size: cover;
    /*display: grid;*/
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
	
}

.loginSection{
	width: 100%;
	color:white;
	padding-top:100px;
	background-image: url(../images/background.png);
    height: 100vh;
	background-position: center;
    background-size: cover;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
	
}

.signupSection{
	width: 100%;
	color:white;
	padding-top:30px;
	background-image: url(../images/background.png);
    height: 100vh;
	background-position: center;
    background-size: cover;
    /*display: grid;*/
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}


.SectionCheckout{
	width: 100%;
	color:white;
	padding-top:150px;
	background-image: url(../images/background.png);
    height: 100vh;
	background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
	
}

.accountSection{
	width: 100%;
	color:white;
	padding-top:50px;
	background-image: url(../images/background.png);
	background-repeat: repeat-y;
    height: 100vh;
	background-position: center;
    background-size: cover;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;	
}

.managementSection{
	width: 100%;
	color:white;
	padding-top:50px;
	background-image: url(../images/background.png);
	background-repeat: repeat-y;
    height: 100vh;
	background-position: center;
    background-size: cover;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
	
}

.visualizzaOrdiniUser{
	width: 100%;
	color:white;
	padding-top:50px;
	background-image: url(../images/background.png);
	background-repeat: repeat-y;
    height: 100vh;
	background-position: center;
    background-size: cover;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}


#accountList{
	display:inline;
	width:20%;
}

#loginDiv{
	width:40%;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#signupDiv{
	padding-top:460px;
	width:50%;
	position: absolute;
  	top: 40%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#accountDiv{
	padding-top:460px;
	width:50%;
	position: absolute;
  	top: 30%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	
}

#managementDiv{
	padding-top:250px;
	width:50%;
	position: absolute;
  	top: 40%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 
}

#managementPanel{
	padding-top:250px;
	width:50%;
	position: absolute;
  	top: 40%;
  	left: 60%;
  	transform: translate(-50%, -50%);
  	font-size: 18px;
 
	
}

#checkoutDiv{
	padding-top:250px;
	width:50%;
	position: absolute;
  	top: 40%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}


.inputField {
	display: inline;
    width: 100%;
    padding: 5px;
    border: 2px solid green;
    border-radius: 4px;
    margin-bottom: 5px;
    font-size: 13px;
    background-color: #808080;
  
}


/* div nelle error page*/
.errorDiv{ 
	padding:150px;
}


#filtri{
	display:inline;
	padding-bottom:20px;	
}

#filtri label{
	color:white;
}


/* responsività*/

@media(max-width:620px){
    .loginSection{
    padding-top:250px;
	}
	.signupSection{
	padding-top:250px;
	}
	.cartSection{
	padding-top:5px
	}
	
	    
}

@media(max-width:920px){
	
	#signupText{
	display:none;
	}
	#signupDiv{
	padding-top:600px;
	}
	#accountDiv{
	padding-top:600px;
	}
	
}


@media(max-width:517px){
	
	.cartSection{
	padding-top:15px;
	padding-left:15px;
	}
    
}








